<header>
  <section class="header__wrapper">
    <div class="header__logo">
      <app-bear-logo></app-bear-logo>
    </div>

    <nav class="header__navigation">
      <a class="nav__link" reouterlink="">Über mich</a>
      <a class="nav__link" reouterlink="">Skills</a>
      <a class="nav__link" reouterlink="">Projekte</a>
      <a class="nav__link" reouterlink="">Partner</a>
    </nav>
    <button>mute</button>
    <div>
      <img src="assets/icons/change-language-icon.svg" alt="" />
      <div>
        <p><a href="">DE</a>|<a href="">EN</a></p>
      </div>
    </div>
    <button>Kontaktieren</button>
  </section>
</header>
