@use '../../../styles/abstracts/mixins' as mixin;

.header__wrapper {
  @include mixin.flexbox(row, space-evenly, center, 0);
  @include mixin.global_content_wrapper();

  padding-block: var(--space-md);
}

.header__logo {
  height: 6rem;
  width: 100%;
  color: var(--neutral-200);
}

.header__sound-btn {
  background: none;
  text-decoration: none;
  border: none;

  color: var(--neutral-200);
}

.header__tranlate {
  @include mixin.flexbox(row, space-evenly, center, 0.7rem);
  color: var(--neutral-200);

  &svg {
    color: var(--neutral-200);
  }
}
