@use '../../../styles/abstracts/mixins' as mixin;

.header__container {
  height: 9rem;
  background-color: var(--neutral-900);

  position: sticky;
  top: 0;
  z-index: 50;

  clip-path: shape(
    from 0 0,
    vline to calc(100% - 25px),
    curve to 37.5% calc(100% - 15.5px) with 25% calc(100% - 15px),
    curve to 62.5% calc(100% - 9px) with 50% calc(100% - 16px),
    curve to 100% calc(100% - 25px) with 75% calc(100% - 2px),
    vline to 0,
    hline to 0
  );
}

.header__wrapper {
  @include mixin.flexbox(row, space-between, center, 0);
  @include mixin.global_content_wrapper();
}

.header__logo {
  height: 5rem;
  width: 100%;
  color: var(--neutral-200);
}

.header__sound-btn {
  background: none;
  text-decoration: none;
  border: none;

  color: var(--neutral-200);
}

.header__tranlate {
  @include mixin.flexbox(row, space-evenly, center, 0.7rem);
  color: var(--neutral-200);
  font-weight: var(--fw-bold);

  & svg {
    color: var(--neutral-200);
  }
}
