@mixin global_content_wrapper() {
  max-width: var(--container-content-md);
  margin: 0 auto;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

@mixin flexbox($flexDirection, $justifyContent, $alignItems, $gap) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
  gap: $gap;
}

@mixin grid($columns, $alignItems, $gap) {
  display: grid;
  grid-template-columns: $columns;
  align-items: $alignItems;
  gap: $gap;
}
