@use '../../../styles/abstracts/mixins' as mixin;

.hero__container {
  height: 90dvh;
  max-height: 1200px;
  min-height: 600px;
  background-color: var(--neutral-900);

  position: relative;
}

.hero__wrapper {
  @include mixin.global_content_wrapper();
  height: 100%;

  @include mixin.flexbox(column, center, flex-start, 0);

  position: relative;
  z-index: 10;
}

.hero__content-left {
  @include mixin.flexbox(column, flex-start, flex-start, 1rem);
  transform: translateY(clamp(-15rem, calc(-20rem + 10vw), -5rem));
}

.hero__title {
  color: var(--neutral-200);
  font-size: clamp(6rem, 10vw, var(--fs-display-1));
}

.hero__subtext {
  color: var(--neutral-200);
  max-width: 40rem;
  font-size: clamp(var(--fs-h3), 3vw, var(--fs-h2));
}

.hero__actions {
  @include mixin.flexbox(row, flex-start, center, 1.5rem);
}

.hero__visuals-wrapper {
  position: absolute;
  top: max(10dvh, calc(5dvh + 3rem));
  right: max(0px, calc(50% - (var(--container-content-md) / 2)));
  z-index: 1;

  display: grid;
  align-items: start;
  justify-items: center;
}

.hero__content-bg {
  grid-area: 1 / 1;
  z-index: 1;

  transform: rotate(-28deg) translate(-60%, 20%);

  svg {
    height: min(80vh, 50vw);
    width: auto;
    opacity: 0.9;
    color: var(--neutral-200);
  }
}

.hero__content-right {
  grid-area: 1 / 1;
  z-index: 2;

  img {
    height: min(100vh, 55vw);
    max-height: 1000px;
    width: auto;
    object-fit: contain;
    display: block;

    transform: translate(0, -5%);
  }
}
