.btn-primary {
  --transition-duration: 400ms;

  font-family: var(--font-display);
  font-size: var(--fs-display-4);
  appearance: none;
  background: var(--primary-500);
  padding: 0.3em 1em;
  border-radius: 5px;
  border: 2px solid var(--neutral-900);
  color: var(--neutral-900);
  position: relative;
  overflow: hidden;
  transition: color var(--transition-duration) ease;

  &:hover {
    color: var(--neutral-900);
  }
}

.btn-content {
  pointer-events: none;
  position: relative;
  z-index: 3;
}

.btn-cells {
  position: absolute;
  z-index: 2;
  inset: 0;

  display: grid;
  grid-template-columns: repeat(10, 1fr);

  &::before {
    content: '';
    position: absolute;
    position-anchor: --hovered-cell;
    left: calc(anchor(left) - 20px);
    right: calc(anchor(right) - 20px);
    top: calc(anchor(top) - 20px);
    bottom: calc(anchor(bottom) - 20px);
    margin: 0 auto auto;

    width: 10px;
    aspect-ratio: 1;
    background: var(--primary-500);
    background-image: linear-gradient(
      to right,
      var(--secondary-300),
      color-mix(in srgb, var(--secondary-100), var(--primary-100))
    );
    border-radius: 100vw;

    transition:
      all var(--transition-duration) ease,
      margin 0ms var(--transition-duration);
    transition-behavior: allow-discrete;
    transform: scale(0);
  }

  &:has(> :nth-child(n + 11):hover)::before {
    margin: auto auto 0;
  }

  &:hover::before {
    transform: scale(55);
    transition:
      transform var(--transition-duration) ease,
      margin 0ms 0ms;
  }

  & span {
    position: relative;
  }

  &:not(:hover) span {
    transition: anchor-name 0ms var(--transition-duration);
    transition-behavior: allow-discrete;
  }

  & span:hover {
    anchor-name: --hovered-cell;
    transition: anchor-name 0ms;
  }
}
