@use '../../../styles/abstracts/mixins' as mixin;

.footer__container {
  background-color: var(--bg-light);
  position: relative;

  display: flex;
  flex-direction: column;
}

.footer__landscape-wrapper {
  width: 100%;
  max-width: calc(var(--container-content-md) + 15rem);
  margin-inline: auto;

  app-footer-woodscene {
    width: 100%;
    display: block;

    ::ng-deep {
      svg {
        width: 100%;
        height: auto;
        display: block;
      }

      .footer__bear {
        transform-box: fill-box;
        transform-origin: bottom center;
      }

      @media (max-width: 768px) {
        .footer__tree-hide-mobile {
          display: none;
        }
      }
    }
  }
}

// ==========================================
// DER UNTERE BEREICH
// ==========================================
.footer__bottom {
  width: 100%;
  height: 20rem;

  background: linear-gradient(to bottom, var(--neutral-800) 0%, var(--neutral-900) 50%);

  margin-top: -1px;
  position: relative;
  z-index: 2;
}

// ==========================================
// DER TEXT-WRAPPER
// ==========================================
.footer__wrapper {
  padding-block: 2rem 4rem;

  @include mixin.flexbox(column, center, center, 0);
  @include mixin.global_content_wrapper();

  color: var(--bg-light);
}

.footer__content {
  width: 100%;

  &__top {
    @include mixin.flexbox(row, space-between, center, 0);
    border-bottom: 2px solid var(--neutral-200);
    padding-block: var(--space-xl);

    button {
      background: none;
      border: none;
      cursor: pointer;

      color: var(--neutral-200);
    }
  }

  &__buttonbar {
    @include mixin.flexbox(row, center, center, 1rem);
  }

  &__logo {
    height: 3rem;
    color: var(--neutral-200);
  }
}

.footer__content__bottom {
  @include mixin.flexbox(row, space-between, center, 0);
  @include mixin.global_content_wrapper();
  padding-block: var(--space-xl);
  padding-inline: 0;
}
