@use '../../../styles/abstracts/mixins' as mixin;

:host {
  display: block;
  background-color: var(--neutral-200); // Oder var(--bg-light) / weiß (#fff)
  padding-top: 6rem; // Genug Abstand oben wegen des fixierten Headers
}

.legal_container {
  @include mixin.flexbox(column, start, start, 2rem);
  @include mixin.global_content_wrapper();
}
