<a
  class="btn-secondary"
  [attr.href]="btnUrl()"
  [attr.target]="isAnchor() ? null : '_blank'"
  [attr.rel]="isAnchor() ? null : 'noopener noreferrer'"
  [attr.tabindex]="tabbable() ? null : -1"
  (click)="onClick($event)"
>
  <span class="btn-content"> {{ btnText() }} </span>
  <div class="btn-cells" aria-hidden="true">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</a>
